<div class="container" style="padding: 1rem;">

</div><footer class="page-footer font-small blue bg-white">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-dark">© 2020 Copyright:
      <a href="https://rrios4.github.io/Portfolio/"> Rogelio Rios</a>
    </div>
    <!-- Copyright -->
  
</footer>
</div>